GOOGLE_API_KEY=你的API金鑰
OLLAMA_API_URL=http://localhost:11434 #or http://host.docker.internal:11434
# DeepSeek 設定
DEEPSEEK_API_KEY=你的_DEEPSEEK_API_KEY
# 模型可選 deepseek-chat (V3) 或 deepseek-reasoner (R1)
MODEL_NAME=deepseek-chat